In [ ]:
https://www.mariofilho.com/how-to-use-neural-networks-to-forecast-multiple-steps-of-time-series/

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv("/media/wojciech/D6DE33C1DE339927/1A/Sales_Transactions_Dataset_Weekly.csv")
data = data.filter(regex="Product|W").copy()

data['Product_Code_NUM'] = data['Product_Code'].str.extract("(\d+)").astype(int)

data.head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,W43,W44,W45,W46,W47,W48,W49,W50,W51,Product_Code_NUM
0,P1,11,12,10,8,13,12,14,21,6,...,7,8,10,12,3,7,6,5,10,1
1,P2,7,6,3,2,7,1,6,3,3,...,4,5,1,1,4,5,1,6,0,2
2,P3,7,11,8,9,10,8,7,13,12,...,14,5,5,7,8,14,8,8,7,3
3,P4,12,8,13,5,9,6,9,13,13,...,10,3,4,6,8,14,8,7,8,4
4,P5,8,5,13,11,6,7,9,14,9,...,11,7,12,6,6,5,11,8,9,5

In [4]:
print("Max Product_Code: {} - Unique Product_Code: {}".format(data['Product_Code_NUM'].max(), data['Product_Code_NUM'].nunique()))

Max Product_Code: 819 - Unique Product_Code: 811

In [7]:
from keras.datasets import cifar10
from keras.utils import to_categorical

X_train = []
Y_train = []

X_test = []
Y_test = []

for ix, row in data.iterrows():
    for w in range(8, 50):
        product_code_num = row['Product_Code_NUM']
        x = row.iloc[w-7:w].values.astype(int)
        y = row.iloc[w:w+3].values.astype(int)

        product_code_num_ohe = to_categorical(product_code_num, num_classes=820)
        x = np.append(x, product_code_num_ohe)

        if w < 30:
            X_train.append(x)
            Y_train.append(y)
        else:
            X_test.append(x)
            Y_test.append(y)

X_train = np.array(X_train)
Y_train = np.array(Y_train)

X_test = np.array(X_test)
Y_test = np.array(Y_test)

X_train.shape, X_test.shape, Y_train.shape, Y_test.shape
#((17842, 827), (16220, 827), (17842, 3), (16220, 3))

ModuleNotFoundError: No module named 'keras'